#maze {
  border-style: solid;
}

.block {
  float: left;
  height: 20px;
  width: 20px;
}

.wall {
  background-color: #000;
}

.me {
  position: relative;
  background-image: animeGirl.png;
}

.me:after {
  background-color: #23afee;
  /*background-image: animeGirl.png;*/
  border-radius: 100%;
  content: '';
  height: 20px;
  position: absolute;
  top: 0;
  width: 20px;
}

.finish {
  background-color: #f31d1d;
}

#complete {
  display: none;
  height: 360px;
  position: absolute;
  top: 70%;
  left: 15%;
  width: 640px;
  z-index: 1000;
}

